.Container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.MyId {
  margin-right: 5rem;
  border-radius: 5px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.CallButton {
  text-align: center;
  margin-top: 2rem;
  background-color: #eee;
  border-radius: 20px;
}

.VideoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-left: 10rem;
}

.Video {
  width: 100%;
}

.CallerContainer {
  background: rgb(102, 121, 9);
  background: linear-gradient(
    180deg,
    rgba(102, 121, 9, 1) 0%,
    rgba(75, 89, 13, 1) 2%,
    rgba(59, 69, 15, 1) 32%,
    rgba(2, 1, 23, 1) 98%,
    rgba(198, 255, 0, 1) 100%
  );
  border-radius: 5px;
}

.Caller {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1em;
}

@media (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }

  .VideoContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .Video {
    width: 95%;
    margin: 0 auto;
  }

  .MyId {
    width: 100%;
    margin: 0 auto;
  }
}
