.Patient {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 20vh;
  padding: 1em;
  margin: 1em auto;
  border: 3px solid #5e8b7e;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #fff;
}

.Patient h5 {
  font-weight: bold;
}

.Header {
  text-decoration: underline;
}

.IconsHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

IconsHolderSpan {
  transition: all 2s;
}

.IconsHolderSpan i {
  font-size: 2em;
  margin: 2px 0;
  color: #2f5d62;
}

.IconsHolderSpan:hover .HiddenTextDesc {
  display: inline-block;
}

.HiddenTextDesc {
  display: none;
  font-size: 0.6em;
  margin-left: 5px;
}
